name: SonarCloud Analysis PHP
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  sonarcloud:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1
      
    - name: Setup PHP
      uses: shivammathur/setup-php@1a18b2267f80291b3f84639d6f3c0d78c5db068d  # v2.31.1
      with:
        php-version: '8.1'
        
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@f42e7f4d532cd0d7d3c57f4164fe72b71b8a4f8c  # v2.2.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_SENA }}